/* Reseting */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*  */

.wrapper {
    position: relative;
}

/* nav */
.nav {
    display: flex;
    height: 25px;
    width: 100%;
    padding-right: 10vw;
    justify-content: end;
    line-height: 25px;

}

.user {
    margin-right: 1.3vw;
}

.nav i {
    margin: 0 0.4vw;
    line-height: 10px;
}


/* title */
.title {
    background: rgb(83, 181, 220);
    height: 100px;
    line-height: 100px;
    margin-bottom: 2vw;
}

.title h1 {
    margin-left: 10vw;
}



/* container */
.container {
    display: flex;
    height: 75vh;
    margin: 0 10vw;
}

.sidebar {
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px;
}

.sidebar li {
    line-height: 50px;

}

.sidebar li i {
    margin: 0 0.8vw;
}

.dashboard {
    line-height: 50px;
}

.inforDaiLy {}

.exit {
    margin-top: 49vh;
}


.content {
    width: 80%;
    border-radius: 5px;
    margin-left: 2vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;

}

.content_dashboard {}

.sidebar_content {
    display: flex;
    border-radius: 5px;

}

.lich_su_nap {
    width: 50%;
    line-height: 50px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}

.lich_su_chuyen {
    width: 50%;
    line-height: 50px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;


}

.active a {
    color: rgb(255, 0, 0);
    font-weight: 600;
}



.bang_lich_su {
    height: 450px;
    border-radius: 5px;
    overflow: auto;
    margin-top: 10px;
}



.content_inforDaiLy {}



.content_inforDaiLy {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    display: none;
}


.content_inforDaiLy_form {
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
}

table,
td,
th {
    border: 1px solid;
    padding: 7px;
}

table {
    border-collapse: collapse;
    width: 100%;
}



/* popup */

.wrapper_popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #53b5dc;
    background-color: rgb(193, 206, 212,0.9);
    display: none;
}   

.popup {
    position: absolute;
    width: 450px;
    height: 240px;
    background: #53b5dc;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    padding-top: 15px;
}

.form-group{
    padding-left: 60px;
}

.ten_dang_nhap {
    height: 40px;
    width: 325px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.mat_khau {
    height: 40px;
    width: 325px;

    border-radius: 5px;

}

.submit {
    margin-left: 150px;
    height: 40px;
    width: 150px;
    margin-top: 15px;
    border-radius: 5px;
}

.submit:hover {
    cursor: pointer;
}




.close:hover {
    cursor: pointer;
}